.hero {
  text-align: center;
  background-color: var(--bi-background-color);
  color: var(--bi-color-text);
  padding: 100px 0;
}

.content {
  display: flex;
  flex-wrap: wrap;
  padding: 60px 0 40px;
  max-width: 1200px;
  margin: 0 auto;
  justify-content: space-between;
}

@media (width <= 1200px) {
  .content {
    justify-content: space-between;
  }
}

@media (320px <= width <= 640px) or (640px <= width <= 1200px) {
  .content {
    place-content: center;
  }
  .postCard {
    margin-top: 10px;
    margin-left: 12.5px;
    margin-right: 12.5px;
  }
}
