.footer {
  text-align: center;
  background-color: var(--bi-background-color);
  color: var(--bi-font-color-base-inverse);
  padding: 30px 0;
}

.footer a {
  color: var(--bi-color-primary);
}

.footerIcon svg {
  height: 24px;
  width: 24px;
}

:root {
  color: var(--bi-color-text);
  background-color: var(--bi-background-color);
}
