.blogListPagePostContainer {
  flex: 1 1 33%;
  flex-direction: column;
  margin: 0 0 40px;
  min-height: 220px;
  overflow: hidden;
  padding: 0 20px 40px;
  background-size: cover;
  border-bottom: 1px solid var(--ifm-color-gray-500);
}
