.paginatedBlogList {
  padding: 60px 0 40px;
  max-width: 1200px;
  margin: 0 auto;
}

.content {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.blogItem {
  margin-bottom: 1.5rem;
}

.blogItemMeta {
  display: flex;
  align-items: center;
  font-size: 0.9rem;
  color: #777;
}

.blogItemMeta span {
  margin-right: 0.5rem;
}

.pagination {
  margin: 0 auto;
  width: 50%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 2rem;
}

.paginationButton {
  transition: background var(--bi-transition-fast);
  align-items: center;
  border-radius: 50px;
  display: grid;
  justify-content: center;
  height: 50px;
  width: 50px;
  cursor: pointer;
}

.paginationButton svg {
  width: 24px;
  height: 24px;
}

.paginationButton:hover {
  background: var(--bi-color-emphasis-300);
  color: var(--bi-background-color);
  border: 1px solid var(--bi-color-emphasis-300);
}
