.iconButtonCircle {
  box-shadow: var(--bi-global-shadow-lw);
  align-items: center;
  border-radius: 50px;
  display: grid;
  justify-content: center;
  height: 40px;
  width: 40px;
  cursor: pointer;
  padding: 0;
}

.iconButtonCircle:hover {
  background: var(--bi-color-emphasis-500);
  color: var(--bi-background-color);
}

.active {
  transition: background var(--bi-transition-fast);
  background-color: var(--bi-color-primary);
  color: var(--bi-color-white);
}

.active:hover {
  background-color: var(--bi-color-primary-dark);
  color: var(--bi-color-white);
}

.active svg path {
  fill: var(--bi-color-white);
}

.default {
  border: var(--bi-button-border-width) solid var(--bi-color-gray-200);
  transition: background var(--bi-transition-fast);
  color: var(--bi-color-text);
}

.iconButton {
  color: var(--bi-color-text);
  align-items: center;
  display: grid;
  justify-content: center;
  height: 40px;
  width: 40px;
  cursor: pointer;
  padding: 0;
}

.iconButton:hover {
  color: var(--bi-background-color);
}
